{% load vite %}{% load js_routes_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title inertia>Goblin</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.bunny.net">
    <link href="https://fonts.bunny.net/css?family=figtree:400,500,600&display=swap" rel="stylesheet" />

    <!-- Scripts -->
    {% js_routes %}
    {% vite %}
    {% vite 'resources/js/app.js' %}
  </head>
  <body class="font-sans antialiased">
    {% block inertia %}{% endblock %}
  </body>
</html>
